<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>
  </head>
  <body>
    <h1>Courses list</h1>
    <table id="all-courses">
      <tr>
        <th>SNo</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Course Description</th>
        <th>Actions</th>
      </tr>
      {% for course in courses %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>
          <a href="/course/{{ course.course_id }}">{{ course.course_code }}</a>
        </td>
        <td>{{ course.course_name }}</td>
        <td>{{ course.course_description }}</td>
        <td>
          <a href="/course/{{ course.course_id }}/update">Update</a>
          <a href="/course/{{ course.course_id }}/delete">Delete</a>
        </td>
      </tr>
      {% endfor %} {% if not courses %}
      <tr>
        <td colspan="5">No courses found. Add the courses now!.</td>
      </tr>
      {% endif %}
    </table>
    <a href="/course/create" style="margin-left: 100px">+Add Course</a>
  </body>
</html>
