<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Student</title>
  </head>
  <body>
    <h1>Create Student</h1>
    <form action="/student/create" method="POST" id="create-student-form">
      <div>
        <label>Roll Number:</label>
        <input type="text" name="roll_number" required />
      </div>
      <div>
        <label>First Name:</label>
        <input type="text" name="first_name" required />
      </div>
      <div>
        <label>Last Name:</label>
        <input type="text" name="last_name" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
